@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
        overflow-x: hidden;
    }
    .section-section-customers{
        padding-right: 0px;
        padding-left: 0px;
    }

    .btn-menu-burger{
        visibility: hidden;
    }
    }

