

@media screen and (min-width: 480px) {
    .container {
        width: 428px;
    }
}

@media screen and (max-width: 480px) {
    .modal {
        width: calc(100% - (15px * 2));
    }

    .mobile-adress-tel, .mobile-adress-mail{
        font-size: 26px;
    }

    /*.modal-policy {
        font-size: 8px;
        letter-spacing: 0.02em;
    }

    .chapter-social:not(:last-child) {
        margin-right: 28px;
    }*/

    .container {
        max-width: 428px;
    }
}



@media screen and (max-width: 768px) {

    .header-lists,
    .header-address {
        display: none;
    }
    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* Mobile menu navigation*/

    .mobile-nav .mob-list:not(:last-child) {
        margin-bottom: 40px;
    }

    /* Mobile menu address & socials*/

    .mobile.mail {
        margin-bottom: 48px;
    }

    .mobile-tel {
        margin-bottom: 40px;
    }

    /* Team */

    .card-set-team-members .team-name:not(:last-child) {
        margin-bottom: 72px;
    }

    .card-set-team-members .team-name {
        margin-left: auto;
        margin-right: auto;
    }

    /* Customers */

    .customer-item:nth-child(2n) {
        margin-right: 0;
    }

    .customer-item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    /* Footer */

    .container-footer {
        flex-direction: column;
    }

    .footer-form-wrapper {
        margin-bottom: 16px;
    }


    /* Background image */

    @media (min-device-pixel-ratio: 1),
    (-webkit-min-device-pixel-ratio: 1),
    (-o-min-device-pixel-ratio: 1/1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
        .section.hero {
            background-image: linear-gradient(to right,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/mobile-header.jpg);
            background-color: var(--secondary-background-color);
        }
    }
}

@media screen and (max-width: 1199px) {

    .section-items:not(:last-child) {
        margin-bottom: 72px;
    }

    .section-list .section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
    }

}