/* Website colors */
:root {
    --accent-text-color: #2e2f42;
    --accent-text-color-two: #4D5ae5;
    --color-of-paragraphs: #434455;
    --accent-color-three: #F4F4FD;
    --color-of-paragraphs-two: #E7E9FC;
    --color-of-button:#404BBF;
    --background-color-etc: #FFFFFF;
    --subtle-text: #8e8f99;
    --modal-color: #fcfcfc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-color-three);
    background: var(--background-color-etc);
}


/* Links */
a {
    text-decoration: none;
    color: var(--accent-text-color);
    cursor: pointer;
}
 img{
    display: block;
 }

/* Header */

/* Header Logo */
.header{
border-bottom: solid 1px var(--color-of-paragraphs-two);
}

/* Containers*/
/* Header*/
.container {
   width: 1158px;
   margin: 0 auto;
   padding: 0 15px;
}
.container-container-header{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: var(--accent-text-color-two);
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 20px;
    margin-right: 74px;
}

.header-studio {
    color: var(--accent-text-color);
}

/* Header List */

.header-nav{
   display: flex;
   align-items: center;
}

.header-list {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--accent-text-color);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}


.header-lists {
 padding: 24px 0;
 margin: 0;
 position: relative;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-lists:last-child{
    margin-right: 0;
}

.header-lists:hover,
.header-lists:focus {
    color: var(--color-of-button);
}

.studio-active {
    color: var(--accent-text-color-two);
}
.studio-active::after {
display: block;
content: '';
width: 100%;
height: 4px;
background-color: var(--accent-text-color-two);
position: absolute;
border-radius: 2px;
bottom: -4px;
left: 0;
}

.portfolio-active{
    color: var(--accent-text-color-two);
}
.portfolio-active::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color-two);
    position: absolute;
    border-radius: 2px;
    bottom: -4px;
    left: 0;
}


/* Header address */


.header-adress{
margin-left: auto;

}

.header-adress-c {
    text-decoration: none;
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
    letter-spacing: 0.02cm;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}


.header-adress-name {
   color: var(--color-of-paragraphs);
   padding-bottom: 24px;
   padding-top: 24px;
   display: block;
}



.header-adress-name:last-child {
 margin: 0;
}

.header-adress-name:hover,
.header-adress-name:focus {
    color: var(--color-of-button);
}

/*Section 1*/
.section{
    padding-top: 120px;
   
}
.container-section {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.section-section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/pploffice.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    justify-content: center;
    width: 1440px;
    background-repeat: no-repeat;
    background-color: var(--accent-text-color-two);
    margin-left: auto;
    margin-right: auto;
  
}

.hero-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: var(--background-color-etc);
    text-align: center;
    height: 120px;
    width: 494px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    align-items: center;
}

.hero-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--background-color-etc);
    background-color: var(--accent-text-color-two);
    transition-duration: 0.4s;
    list-style: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: flex;
    border: transparent;
    
}

.hero-button:hover,
.hero.button:focus {
    background-color: var(--color-of-button);
}

.hero-button{
    cursor: pointer;
}


/* Section 2 */
.section{
    padding-bottom: 120px;
}

.container-advantages{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.container-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--accent-color-three);
    border-radius: 4px;
}
.icon{
 height: 64px;
 width: 64px;
}

.section-title {
    font-size: 24px;
    text-decoration: none;
    color: var(--accent-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 8px;
    margin: 0 auto;
    
}

.section-titles {
    font-size: 24px;
    text-decoration: none;
    color: var(--accent-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    
}
.visually-hidden, .section-titles {
    position: absolute;
    top: -150%;
    z-index: -100;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    cursor: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
    white-space: nowrap;
}


.section-list {
    list-style: none;
    color: var(--accent-text-color);
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    gap: 24px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 ;
   
   
}
.section-items {
   margin: 0 auto;
   padding: 0 ;
    
}

.section-items:last-child {
    margin-right: 0;
}

.section-p {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-of-paragraphs);
    margin: 0 auto;
    padding: 0 ;
}

/*Section 3*/

.section-section-what{
    padding-bottom: 120px;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.info-title {
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    color: var(--accent-text-color);
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    padding: 0 ;
    margin-top: 0;
}

.card-set-info-list {
    list-style: none;
    padding: 0;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
   margin: 0 auto;
}

/*Section 4*/
.container-team{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}


.section-section-team {
    background: var(--accent-color-three);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-style: normal;
    font-family: inherit ;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--accent-text-color);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 ;
    margin-bottom: 72px;
    

}

.card-set-team-members {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    
}


.team-name {
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: var(--accent-text-color);
    background: var(--background-color-etc);
    box-sizing: border-box;
    border: 1px solid var(--color-of-paragraphs-two);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin: 0 auto;
    padding: 0;
}

.team-position {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-of-paragraphs);
    padding: 0;
    margin: 0 auto;
    margin-bottom: 8px;
}

.team-nm{
    text-align: center;
    padding: 32px 15px;
    margin: 0 auto;
    gap: 8px;
}

.team-person{
padding: 0;
margin: 0 auto;
}

.team-social{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
   justify-content: space-between;
}

.team-soc{
    width: 35px;
    height: 35px;
}

.team-links{
    display:flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-text-color-two);
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links:not(:last-child){
    margin-right: 12px;
}

.team-links:hover,
.team-links:focus{
    background-color: var(--color-of-button);
}

.team-icons{
    width: 16px;
    height: 16px;
    fill: currentColor;
}

/*Section 5*/
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.section-section-customers{
    padding: 130px 156px 120px;
    
}
.customers-title{
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--accent-text-color);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 72px;
}

.customer-list{
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.customer-item{
   display: flex;
}
/*.customer-item:not(:last-child){
    margin-right: 24px;
}*/
.link-customer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    color: var(--subtle-text);
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    height: 100%;
    width: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-customer-links:hover,
.link-customer-links:focus {
    color: var(--color-of-button);
    border-color: var(--color-of-button);
}
.customer-icons{
    fill: currentColor;
}

/*Footer*/

.container-footer{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}

.footer{
    background: var(--accent-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
/*Footer logo*/ 


.footer-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color:var(--accent-text-color-two);
    text-transform: uppercase;
    text-decoration: none;
}

.footer-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-of-paragraphs-two);
    text-transform: uppercase;
    text-decoration: none;

}


.footer-desc {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-of-paragraphs-two);
    width: 264px;
    /*gap: 16px;*/
    margin-left: 0;
    
}

.footer-social{
    /*margin-left: 120px;*/
}

.footer-socials{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--background-color-etc);
    padding-bottom: 16px;
    margin: 0;
    
}

.footer-lists{
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-items{
    height: 40px;
    width: 40px;
}

.footer-links{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-of-paragraphs);
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover,
.footer-links:focus{
    background-color: #31D0AA;
}
.footer-icons{
 width: 24px;
 height: 24px;
 fill: currentColor;
}

.footer-form{
    margin-left: 80px;
}

.footer-form-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--background-color-etc);
    padding-bottom: 16px;
    margin: 0;
}

.footer-form-wrapper{
    display: flex;
}
.footer-form-input{
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid var(--background-color-etc);
    border-radius: 4px;
    background-color: transparent;
}

.footer-form-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2px;
    letter-spacing: 0.04em;
    color: var(--background-color-etc);
    outline: none;
}

.footer-form-input:focus{
    color: var(--background-color-etc);
    outline: none;
}

.submit-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--background-color-etc);
    background-color: var(--accent-text-color-two);
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin-left: 24px;
    cursor: pointer;
    outline: none;
}

.subscribe-icon{
    margin-left: 16px;
    width: 24px;
    height: 24px;
}

/* Portfolio Page 2 */

/* Buttons */

.buttons{
    padding-top: 96px;
    padding-bottom: 120px;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
    
}

.visually-hidden, .portfolio-title {
    position: absolute;
    top: -150%;
    z-index: -100;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    cursor: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
    white-space: nowrap;
}

.buttons-list{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 ;
  gap: 24px;
  margin-bottom: 72px;
  
}

.buttons-items{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    border-color: transparent;
}

.buttons-listing {
    color: var(--accent-text-color-two);
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    border: 1px solid var(--color-of-paragraphs-two);
    border-radius: 4px;
    background-color: var(--accent-color-three);
    text-decoration: none;
    padding: 12px 24px;
    cursor: pointer;
}

.buttons-listing:hover,
.buttons-listing:focus {
    color: var(--background-color-etc);
    background-color: var(--accent-text-color-two);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: transparent;
}




/* Portfolio Section 2*/


.portfolio-title {
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--accent-text-color);
   
}


.card-set-portfolio-list {
    list-style: none;
    padding: 0;
    line-height: 30px;
    column-gap: 24px;
    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    flex-basis: calc(100% -48% / 3);
}


.card-set-info-portfolio{
    border: 1px solid var(--color-of-paragraphs-two);
    border-top: none;
    padding: 32px 16px;
    gap: 8px;
    margin: 0 auto;
}




.portfolio-name{
box-sizing: border-box;
padding: 0;
margin: 0 auto;
cursor: pointer;
}


.portfolio-name:hover,
.portfolio-name:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


img{
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
   
    
}

.overlay{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--accent-color-three);
    background-color: var(--color-of-button);
    margin: 0 auto;
    left: 0;
    top: 0;
    padding: 40px 32px 164px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-name:hover .overlay{
    transform: translateY(0%);
}


.portfolio-type {
    font-style: normal;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-of-paragraphs);
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-subtitle {
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent-text-color);
    padding: 0;
    margin-top: 0;
}




/* Modal */


.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms linear, visibility 250ms linear;

    overflow-y: scroll;
    opacity: 1;
}

.modal{
    position: absolute;
    height: 584px;
    width: 408px;
    padding: 24px;
    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.modal-close{
    display: flex;
    margin-left: auto;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--accent-text-color);
    background-color: var(--color-of-paragraphs-two);
    padding: 0;
    justify-content: center;
    align-items: center;
}
.modal-close:hover,
.modal-close:focus{
    color: var(--background-color-etc);
    background-color: var(--color-of-button);
}

.modal-img{
    width: 8px;
    height: 8px;
    fill: currentColor;
}

.is-hidden{
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
}

.modal-form{
    position: relative;
    
}


.modal-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--accent-text-color);
    padding: 0;
    margin-bottom: 16px;
}

.form-input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    left: 0%;
    right: 0%;
    top: 31.03%;
    bottom: 0%;
    border: 1px solid var(--subtle-text);
    background-color: var(--modal-color);
    border-radius: 4px;
    margin-bottom: 8px;
    padding-left: 34px;
    margin-top: 4px;
}

.form-input:focus{
 border: 1px solid var(--accent-text-color-two);
 outline: none;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
}

.form-input:focus + .modal-icons { 
 fill: var(--accent-text-color-two);
}


.modal-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    margin-bottom: 4px;
}

.modal-icons{
    position: absolute;
    top: 115%;
    left: 16px;
    padding-left: 4px;
    padding-bottom: 6px;
    transform: translateY(50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.form-text-area{
    width: 100%;
    height: 120px;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    outline: none;
    resize: none;
    padding: 8px 16px;
    margin-top: 4px;
}

.form-text-area::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}

.form-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 24px;
    width: 169px;
    height: 59px;
    color: var(--background-color-etc);
    background-color: var(--accent-text-color-two);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
}


.modal-check{
    margin-top: 16px;
    padding: 0;
}

.modal-form-check-desc::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--accent-text-color);
    border-radius: 2px;
    margin-right: 8px;
}


.modal-form-check-desc{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    display: block;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.modal-form-check:checked + .modal-form-check-desc::before{
    background-color: var(--accent-text-color-two);
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    border-color: var(--accent-text-color-two);
    background-position: center;
    padding: 4px 3px;
   
}

.policy-link{
    color: var(--accent-text-color-two);
    text-decoration: underline;
    margin-left: 4px;
}



/* Mobile */

/* Burger Icon */

.btn-menu-burger{
    display: inline-flex;
    margin: 0 auto;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 25px;
    right: 16px;
    margin-bottom: 22px;
}

.btn-menu-burger.open{
    height: 100%;
}

.btn-menu-burger .btn-mobile:focus,
.btn-menu-burger .btn-mobile:hover {
    fill: var(--color-of-button);
}
.btn-menu-burger .icon-close{
    display: none;
}

.btn-menu-burger.is-open .icon-close{
    display: block;
}

.btn-menu-burger.is-open .icon-burger{
    display: none;
}

/* Mobile Menu*/

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    fill: var(--color-of-paragraphs-two);
    transform: scaleY(0);
    transition: transform 800ms var(--animation-function);
    z-index: 666;
    pointer-events: none;
    transform-origin: bottom;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: var(--background-color-etc) ;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08) ;
}


.mobile-menu.is-open {
   transform: scaleY(1);
   transform-origin: top;
   transition: transform 800ms  ;
   pointer-events: all;
}

.mobile-menu-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--color-of-paragraphs-two);
    fill: var(--accent-text-color);
}

.mobile-menu-button:focus,
.mobile-menu-button:hover{
    background-color: var(--color-of-button);
    fill: var(--background-color-etc);
}

/*.close-button{
 fill: var(--accent-text-color);
}*/



.mob-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    /*position: absolute;*/
    width: 151px;
    height: 200px;
    left: 40px;
    top: 80px;
    list-style: none;
    text-decoration: none;
}

.mob-lists{
    font-weight:700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-text-color);
}

.mob-lists:hover,
.mob-lists:focus{
    color: var(--color-of-button);
    cursor: pointer;
}

.mob-address-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    /*width: 353px;
    left: 48px;*/
    height: 181px;
    top: 464px;
    list-style: none;
}

.mob-menu-address{
    margin-left: 0 auto;
    margin-top: 360px;
}

.address-mail{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-text-color-two);
    font-style: normal;
}
.address-mail:hover,
.address-mail:focus{
    color: var(--color-of-button);
    cursor: pointer;
}

.address-tel{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-of-paragraphs);
    font-style: normal;

}

.address-tel:hover,
.address-tel:focus{
    color: var(--color-of-button);
    cursor: pointer;
}

.mob-social-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 56px;
    padding: 0px;
    /*padding-top: 48px;
    padding-bottom: 40px;*/
    
}

.social-list-link{
    width: 40px;
    height: 40px;
}

/*.social-list-link:not(:last-child) {
   margin-right: 56px;
}*/
   

.mob-social-link{
    padding: 0px;
    gap: 56px;
    /*position: absolute;*/
    width: 328px;
    height: 40px;
    left: 40px;
    /*top: 716px;*/
}

.mob-soc-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: var(--accent-text-color-two);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-link:hover,
.mob-soc-link:focus{
    background-color: var(--color-of-button);
}

.mob-soc-icon{
    width: 24px;
    height: 24px;
    fill: currentColor;
}



