@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        overflow-x: hidden;
        
    }

    .section-list {
        display: flex;
    }
}

 
@media screen and (min-width:768px) and (max-width:1199px) {


    /* Header */

    .container-container-header {
        display: flex;
        align-items: center;
        width: 100%;

    }

    .header-adress-c {
        flex-wrap: wrap;
        gap: 12px;
        margin-left: 120px;

    }

    .header-adress-name {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .btn-menu-burger{
        visibility: hidden;
    }



    /* Section 1*/

    .section-section-hero {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .section {
        padding-top: 0px;
        display: flex;
       
        
    }
    
    /*.section-list{
        flex-wrap: wrap;
        padding: 0;
        gap: 72px 24px;
        margin-top: 72px;
        flex-direction: row;
        align-items: flex-start;
    }
    .section-items{
        width: calc((100% - 24px) / 2)
        padding: 0px;
        gap: 8px;
    }*/

    .section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        
    }

    .section-p{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
       
    }

    .container-icon {
       display: none;
    }

    .hero-title {
        margin: 0 auto 36px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        max-width: 496px;

    }


    /* Section 2 */

    .visually-hidden,
    .section-section-what,
    .card-set-info-list {
        position: absolute;
        top: -150%;
        z-index: -100;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        user-select: none;
        pointer-events: none;
        cursor: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: none;
        outline: none;
        white-space: nowrap;
    }

    /* Section 4 */
    .section-section-team {
        padding-bottom: 96px;
    }

    .card-set-team-members {
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto;
        justify-content: center;
        gap: 16px;
        row-gap: 64px;
    }
    
    .team-name{
        margin: 0px;
        padding: 0px;
    }
    /* Customers */

    /*.section-section-customers {
        padding: 0;
        margin-top: 96px;
        margin-bottom: 72px;
    }

    .customer-list {
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        align-items: center;

    }

    .customer-item {
        margin-bottom: 72px;
    }*/

    /* Footer */
    
    .container-footer{
        flex-wrap: wrap;
        max-width: 565px;
    }

    .container-footer-logo {
        /*text-align: center;*/
        margin: 0 auto;
        padding: 0;
        margin-bottom: 72px;
    }

    .footer-social {
        margin: 0px;
    }

    .footer-socials {
        text-align: center;
        padding: 0;
        margin-right: 24px;
        margin-bottom: 16px;
    }

    .footer-lists {
        align-items: center;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 72px;

    }
  

   /* .footer-form {
    margin: 0 auto;
    padding: 0;*/
}

/*.footer-form-title {
    display: block;
    text-align: center;
    padding: 0;
    margin-bottom: 16px;
    margin-left: 120px;
    margin-right: 120px;
}*/

    /*.footer-form-wrapper {
    display: block;
    text-align: center;
    padding: 0;
}

.footer-form-wrapper input {
    justify-content: center;
    margin: 0 auto;
    width: 400px;
    height: 40px;
}*/


/*.submit-subscribe {
    padding: 0;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 16px;
 }*/

.container.hero-title {
    margin: 0 auto 36px;
    max-width: 496px;
    font-family: 700;
    font-size: 56px;
    line-height: 1.07;
}

/* Team */







/* Background image */

@media screen and (min-width: 768px) and (max-width: 1199px) {

    @media (min-device-pixel-ratio: 1),
    (-webkit-min-device-pixel-ratio: 1),
    (-o-min-device-pixel-ratio: 1/1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {

        .section-section-hero {
            background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-header.jpg);
            background-color: var(#2e2f42);
            max-width: 768px;
            height: 436px;
        }
    }


    .section-list {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 72px 24px;
        margin-top: 72px;
    }

    .section-items{
        width: calc((100% - 24px) / 2);
        padding: 0px;
        gap: 8px;
    }

    .container-footer {
        max-width: calc(552px + (15px *2));
        margin-right: auto;
        margin-left: auto;
    }

    .footer-form {
        max-width: calc(552px + (15px *2));
        margin-right: auto;
        margin-left: 30px;
    }
    .submit-subscribe {
        padding: 0;
        margin: 0 auto;
        margin-left: 20px;
        /*margin-top: 16px;*/
    }

    .section-section-customers {
        padding: 0;
        margin-top: 96px;
        margin-bottom: 72px;
    }
    
    .customer-list {
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        margin-left: 90px;
        margin-right: 90px;
        /*justify-content: center;
        align-items: center;*/
    
    }
    
    .customer-item {
        margin-bottom: 72px;
    }




}
    