@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header {
        padding-top: 0;
        padding-bottom: 0;
    }

    /* Header */

    .button-burger {
        display: none;
    }

    .header-list {
        margin-left: 120px;
    }

    .mobile-menu {
        display: none;
    }

    .header-lists .studio-active {
        position: relative;
        color: var(--accent-color);
    }

    .header-lists .studio-active::after,
    .header-lists .header-lists::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;

        transform: scale(0, 0);
        transition: transform var(--animation-duration) var(--animation-function) 100ms;
    }

    .header-lists .header-lists:hover::after,
    .header-lists .header-lists:focus::after {
        transform: scale(1, 1);
    }

    .header-lists .header-lists.studio-active::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;

        transform: scale(1);
    }

    .header-lists .header-lists {
        position: relative;
        transition: color var(--animation-duration) var(--animation-function);

        display: block;
        padding-top: 24px;
        padding-bottom: 24px;

        color: var(--title-text-color);

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-decoration-line: none;
    }

    .header-lists .header-lists:hover,
    .header-lists .header-lists:focus {
        color: var(--accent-color);
    }

    .header-lists {
        display: flex;
    }

    .header-lists .header-lists:not(:last-child) {
        margin-right: 40px;
    }

    .header-adress-name {
        transition: color var(--animation-duration) va(--animation-function);

        color: var(--main-text-color);

        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        text-decoration-line: none;
    }

    .header-adress-c .header-adress-name:hover,
    .header-adress-c .header-adress-name:focus {
        color: var(--accent-color);
    }

    .header-adress-c {
        display: flex;
        flex-direction: column;
    }

    .container.container-header {
        display: flex;
        align-items: center;
    }

    .header-adress {
        margin-left: auto;
    }

    /* Hero Section */

    .section-section-hero {
        max-width: 768px;
        height: 436px;
        /* background-image: url(../images/hero-tablet-2x.jpg); */
    }

    .container .hero-title {
        margin: 0 auto 36px;
        max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
    }

    /* Modal */

    .modal {
        width: 408px;
        min-height: 586px;
    }

    /* Advantages */

    .section.list {
        display: flex;
    }

    /* Team */

    .card-set-team-members {
        display: flex;
        text-align: center;
    }

    /* Customers */

    .customer-item {
        margin-right: 24px;
    }

    /* Footer */

    .footer-web {
        text-align: start;
    }

    .footer-social .socials {
        text-align: start;
    }

    .footer-social {
        margin: 0 auto 72px 0;
    }

    .footer-socials {
        margin-left: 0;
    }

    .footer-form-wrapper {
        margin-right: 24px;
    }
}




@media screen and (min-width:768px) and (max-width:1199px) {

    /* Header */

    .header-adress-c .header-adress-name {
        margin-top: 12px;
    }

    /* Advantages */

    .section-list {
        flex-wrap: wrap;
    }

    .section-items {
        max-width: calc((100% - 24px)/2);
    }

    .section-items+.section-items:not(:nth-child(2n+1)) {
        margin-left: 24px;
    }

    .section-items:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    /* Team */

    .card-set-team-members {
        flex-wrap: wrap;
    }

    .card-set-team-members .team-name+.team-name:not(:nth-child(2n+1)) {
        margin-left: 24px;
        margin-right: auto;
    }

    .card-set-team-members .team-name:not(:nth-last-child(-n+2)) {
        margin-bottom: 64px;
    }

    .card-set-team-members .team-name:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    .card-set-team-members .team-name:nth-child(2n+1) {
        margin-right: 0;
        margin-left: auto;
    }

    /* Customers */

    .customer-list {
        max-width: 552px;
        margin-right: auto;
        margin-left: auto;
    }

    .customer-item {
        width: calc((100% - 24px * 2)/3);
    }

    .customer-item:nth-child(3n) {
        margin-right: 0;
    }

    .customer-item:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    /* Footer */

    .container-footer {
        flex-wrap: wrap;
    }

    .container-footer-logo {
        margin: 0 24px 72px 0;
    }

    .footer-form-wrappe input {
        min-width: 264px;
    }

    .footer-form {
        /* margin: 0 auto 0 0; */
        margin-right: auto;
    }

    .container-footer {
        max-width: calc(552px + (15px *2));
        margin-right: auto;
        margin-left: auto;
    }

    
    /* Background image */

     /*@media (min-device-pixel-ratio: 1),
    (-webkit-min-device-pixel-ratio: 1),
    (-o-min-device-pixel-ratio: 1/1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
        .section.hero {
            background-image: linear-gradient(to right,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-tablet-1x.jpg);
            background-color: var(--secondary-background-color);
        }
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section.hero {
            background-image: linear-gradient(to right,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-tablet-2x.jpg);
            background-color: var(--secondary-background-color);
        }
    }*/
}